/*Barra de Navegação Vertical
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px;
    background: url(imagens/seta.png) no-repeat left center;
}
*/

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000000;
    text-decoration: none;
    text-indent: 30px;
    line-height: 40px;
    font-size: 2.8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f7b600 url(imagens/menu.png) no-repeat left;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    transition: 0.5s;
    color: white;
}

#home #navegacao .home a, 
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}
