@charset "UTF-8";

#caixa{
    width: 300px;
    height: 300px;
    background: orange;   
}

#caixa:hover{
    width: 400px;
    height: 300px;
    background: yellow;
    box-shadow: 5px 5px 5px black;
    transition: all 2s;
}

