@charset "UTF-8";

/*Layout Fixo*/

*{
    text-align: justify;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 85%;
    margin: 0px auto;
    background: #fff;
    min-width: 600px;
    max-width: 1280px;
}

#marca{
    width: 100%;
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo{
    width: 75%;
    float: right;
}

#conteudo-principal{
    width: 63%; /*64*/
    float: left;
}

#conteudo-secundario{
    width: 34%; /*36*/
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario > h2, p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}

#navegacao ul{
    list-style-type: none;
}

#navegacao li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    width: 120px;
    height: 20px;
}
#navegacao li>a{
    padding: 3px;
}

#navegacao a:hover{
    color: white;
    background-color: black;
    width: 80px;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#noticias #navegacao .noticias a,
#produtos #navegacao .produtos a,
#servicos #navegacao .servicos a,
#clientes #navegacao .clientes a,
#contato #navegacao .contato a{
    background-color: black;
    width: 80px;
    color: white;
}